---
layout: page
# The Category layout
---

{% include lang.html %}

{% assign cat = page.autopage.display_name %}
{% assign writeups  = site.writeups | categorized: cat %}
{% assign blogs  = site.posts | categorized: cat %}

<div id="page-category">
  <h1 class="pl-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    Writeups {{ page.title }}
    <span class="lead text-muted pl-2">{{ page.posts | size }}</span>
  </h1>

  <ul class="post-content pl-0">
    {% for post in writeups %}
      {% assign path = post.id | split: "/" %}
      {% assign ctf = path[2] %}
      <li class="d-flex justify-content-between pl-md-3 pr-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        <span class="text-muted small">
        {{ ctf | replace: "_", " "}}
        </span>
        {% comment %}
        {% include datetime.html date=post.date wrap='span' class='text-muted small' lang=lang %}
        {% endcomment %}
      </li>
    {% endfor %}
  </ul>

  <h1 class="pl-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    Blogs {{ page.title }}
    <span class="lead text-muted pl-2">{{ page.posts | size }}</span>
  </h1>

  <ul class="post-content pl-0">
    {% for post in blogs %}
      {% assign path = post.id | split: "/" %}
      {% assign ctf = path[2] %}
      <li class="d-flex justify-content-between pl-md-3 pr-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        <span class="text-muted small">
        {{ ctf | replace: "_", " "}}
        </span>
        {% comment %}
        {% include datetime.html date=post.date wrap='span' class='text-muted small' lang=lang %}
        {% endcomment %}
      </li>
    {% endfor %}
  </ul>
</div>
