---
layout: page
panel_includes:
  - toc
---

<h1> {{ page.title }} </h1>

{{ content }}

{% assign writeups = site.pages | where: "layout", "writeup" | where_exp: "item", "item.url contains page.url" %}

<div class="post-content">

<h1>Overview</h1>
<!-- overview table -->
<div class="table-wrapper">

<table>
<thead>
<tr>
  <th>Challenge</th>
  {% unless page.difficulty == false %} <th>Difficulty</th>{% endunless %}
  {% unless page.points == false %}<th>Points</th> {% endunless %}
  <th>Category</th>
  <th>Flag</th>
</tr>
</thead>
<tbody>

{% assign lastlevel = "" %}
{% for writeup in writeups %}

{% if writeup.level and writeup.level != lastlevel %}
<tr style="background-color: rgba(99, 100, 100, 0.52);"><td colspan="5" style="font-weight: 900"> Level {{ writeup.level }}</td></tr>
{% assign lastlevel = writeup.level %}
{% endif %}

<tr>
 <td><a href="#{{writeup.title|slugify}}">{{writeup.title}}</a> </td>
 {% unless page.difficulty == false %}<td>{{ writeup.difficulty }}</td> {% endunless %}
 {% unless page.points == false %}<td>{{ writeup.points }}</td>{% endunless %}
 <td>{% for c in writeup.categories %}{{c}}{% unless forloop.last%}, {% endunless %}{% endfor %}</td>
 <td>{% if writeup.flag %}<code>{{ writeup.flag }}</code> {% else %} unsolved {% endif %}</td>
</tr>
{% endfor %}

</tbody>
</table>

</div>

<!-- writeups -->

{% for writeup in writeups %}
<h1 id="{{writeup.title | slugify }}"> {{ writeup.title }}
<a href="{{site.baseurl}}{{writeup.url}}"><i class="fa-solid fa-up-right-from-square" style="font-size: 1rem"></i></a>
</h1>

{{ writeup.content | markdownify }}

<h2> Flag </h2>

<code> {{ writeup.flag | default: "unsolved" }} </code>

<hr>
{% endfor %}

</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  console.log("Hello World!");
  tocbot.init({
      tocSelector: '#toc',
      contentSelector: '.post-content',
      ignoreSelector: '[data-toc-skip]',
      headingSelector: 'h1',
      orderedList: false,
      scrollSmooth: false,
    });

});
</script>
