---
layout: page
---
<link rel="stylesheet" type="text/css" href="/assets/css/loading-bar.css"/>
<script type="text/javascript" src="/assets/js/loading-bar.js"></script>

<h1>What is this site?</h1>
Welcome to my webpage, my name is <i>Mideno</i>, I'm a cybersecurity enthusiast,
CTF player, Python3 scripter, mathematics lover, etc.</br>
Here you can find various sections in which you can either get to know me and my work
or take inspiration from my previous projects and blogs, I try to provide bits of information
I get from trying out things.</br>

Please come take a look and have fun!!!


<h1>Technologies I'm proficient in</h1>

<table>
<tr><th><h2 class="technology">Python3</h2></th>
  <th><h2 class="technology">Docker</h2></th>
  <th><h2 class="technology">Networking</h2></th>
</tr>
<tr>
<td>
<div class="ldBar"
  data-type="fill"
  data-img="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/files/python-logo-only.svg"
  data-img-size="200"
  data-value="95"
></div>
</td>
<td>
<div class="ldBar"
data-type="fill"
data-img="/assets/svg/docker-svgrepo-com.svg"
data-img-size="200"
data-value="75"
> </div>
</td>
<td>
  <div class="ldBar"
  data-type="fill"
  data-img="/assets/svg/internet-cable-svgrepo-com.svg"
  data-img-size="200"
  data-value="80"
  > </div>
  </td>
</tr>
<tr>
  <th><h2 class="technology">Linux</h2></th>
</tr>
<tr>
  <td>
    <div class="ldBar"
    data-type="fill"
    data-img="/assets/svg/linux-svgrepo-com.svg"
    data-img-size="200"
    data-value="90"
    > </div>
    </td>
</tr>
</table>



<style>
.ldBar-label,.technology{
  text-align: center;
}
.ldBar{
  display: inline-block;
}
</style>