---
layout: default
---

{% include assets-origin.html %}

{% include lang.html %}

<div class="row">
  <!-- core -->
  <div id="core-wrapper" class="col-12 col-lg-11 col-xl-9 pr-xl-4">
    <div class="post pl-1 pr-1 pl-md-2 pr-md-2">
      {% capture _content %}
      {% if layout.refactor or page.layout == 'page' or page.layout == 'writeup' or page.layout == 'ctf-event' %}
        {% include refactor-content.html content=content lang=lang %}
      {% else %}
        {{ content }}
      {% endif %}
    {% endcapture %}

      {% if page.layout == 'page' or page.collection == 'tabs' %}
        {% assign tab_key = page.title | downcase %}
        {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
        <h1 class="dynamic-title">
          {{ title }}
        </h1>
        <div class="post-content">
          {{ _content }}
        </div>
      {% else %}
        {{ _content }}
      {% endif %}
    </div>
  </div>
  <!-- #core-wrapper -->

  <!-- panel -->
  <div id="panel-wrapper" class="col-xl-3 pl-2 text-muted">
    <div class="access">
      <div class="panel-heading">
        <a href="https://gitlab.com/Mideno/mideno.gitlab.io/-/blob/main/{{page.path}}"><i class="fab fa-github"></i> Edit on GitHub </a>
      </div>
      {% unless page.layout == 'ctf-event' %}
        {% include update-list.html lang=lang %}
        {% include trending-tags.html lang=lang %}
      {% endunless %}
    </div>

    {% for _include in layout.panel_includes %}
      {% assign _include_path = _include | append: '.html' %}
      {% include {{ _include_path }} lang=lang %}
    {% endfor %}
  </div>
</div>

<!-- tail -->
{% if layout.tail_includes %}
  <div class="row">
    <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 pl-3 pr-3 pr-xl-4 mt-5">
      {% for _include in layout.tail_includes %}
        {% assign _include_path = _include | append: '.html' %}
        {% include {{ _include_path }} lang=lang %}
      {% endfor %}
    </div>
  </div>
{% endif %}
