---
layout: page
---

<style>
    .frame {
      text-align: center;
      padding: 30px;
    }
</style>

<h1> {{ page.title }} </h1>

<div class="frame">
    <img src="/assets/img/{{ page.cover }}" alt="{{ page.cover }}" style="max-height: 400px; width: auto">
</div>

{{ content }}

<h2> Repository </h2>

<a href="{{page.repo}}" target="_blank">
    {{page.reponame}}
</a>